#logo {
    -fx-border-color: black;
    -fx-border-radius: 12px;

}

#connecButton {
    -fx-border-color: black;
    -fx-background-color: #f6f1f1;
}

.btn1 {
    -fx-background-color: black;
}

.btn {
    -fx-background-color: white;
}
#Anchor{
    -fx-border-color: Black;
    -fx-pref-width:450.0;
    -fx-pref-height: 380.0;
}
.menu-button {
    -fx-pref-width: 400px;
    -fx-min-width: 400px;
    -fx-max-width: 400px;
    -fx-background-color: white;
    -fx-border-color: black;
    -fx-border-radius: 0;
}

.menu-item .label {
    -fx-underline: true;

}
.menu-item{
    -fx-pref-width: 400px;
    -fx-min-width: 400px;
    -fx-max-width: 400px;
}
.menu-item:hover {
    -fx-background-color: #CCCCCC;
}

.menu-item:focused {
    -fx-background-color: #999999;
}
